<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">{{ 'Highlighted Projects' }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6 col-lg-6" [ngClass]="routeAnimationsElements" *ngFor="let project of projects$ | async">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>{{project.title}}</mat-card-title>
              </mat-card-header>
              <img mat-card-image [src]="project.thumbnail">
              <mat-card-content>
                <p>{{project.sections[0].description}}</p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button [routerLink]="['/project', project._id]">VIEW DETAILS</button>
              </mat-card-actions>
            </mat-card>
        </div>
      </div>
    </div>
    <aside class="sidebar col-md-3 col-sm-12">
    
      <div *ngFor="let section of sections$ | async">
        <app-section [section]="section"></app-section>
      </div>

    </aside>
  </div>
  
</div>