<div class="row" style="margin-bottom: 2.4rem">
  <div class="col-xs-12 col-sm-4 col-md-12 mb-xs-40 mb-sm-60">
    <nav class="filters">
      <div class="filter-header">
        <h2>{{ section.title }}</h2>
      </div>
      <ul class="filter-list">
        <li class="filter-list-item" *ngFor="let link of displayedItems">
          <a [routerLink]="link.link" routerLinkActive="active">{{ link.name }}</a> 
        </li>
        <li [hidden]="isCollapsed" *ngFor="let hiddenItem of hiddenItems">
          <a [routerLink]="[hiddenItem.link]" routerLinkActive="active">{{ hiddenItem.name }}</a>
        </li>
        <li class="show-more" [hidden]="section.links.length <= 3">
          <a class="link" (click)="toggleContent()">
            {{ collapseText }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
